<!-- Config file for the game -->

<config>
  <app framerate_cap ="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>

  <audio>
    <music volume="0.5">
      <folder>Assets/audio/music/</folder>
    </music>
    <fx volume="1">
      <folder>Assets/audio/fx/</folder>
    </fx>
  </audio>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="800" height="600" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>Assets/maps/</folder>
  </map>

  <scenes>
    <scene1>
      <map>Map1.2.tmx</map>
      <camera x="0" y ="0" />
      <audio>The_Waters_Cleansed.ogg</audio>
    </scene1>
    <scene2>
      <map>Map2.1.tmx</map>
      <camera x="0" y ="0" />
      <audio>Naru_Embracing_the_Light.ogg</audio>
    </scene2>
  </scenes>

  <player>
    <position x="0" y="0"/>
    <life value="3"/>
    <dead value="false"/>
    <folder>Assets/Sprites/Character/</folder>
    <texture source="Player.png" />
    <collider w="50" h="50" />
    <gravity value="2"/>2
    <jumpSpeed value="25"/>
    <maxFallingSpeed value="10"/>
    <walkSpeed value="7" />
    <speed x ="0" y="0" />
    <animations>
      <idle loop="true" speed="0.15f">
        <frame x="0" y="0" w="37" h="31"/>
        <frame x="44" y="0" w="37" h="31"/>
        <frame x="88" y="0" w="37" h="31"/>
        <frame x="133" y="0" w="37" h="31"/>
        <frame x="178" y="0" w="37" h="31"/>
        <frame x="222" y="0" w="37" h="31"/>
        <frame x="266" y="0" w="37" h="31"/>
        <frame x="311" y="0" w="37" h="31"/>
      </idle>
      <run loop="true" speed="0.15f">
        <frame x="350" y="0" w="37" h="31"/>
        <frame x="391" y="0" w="37" h="31"/>
        <frame x="434" y="0" w="37" h="31"/>
        <frame x="475" y="0" w="37" h="31"/>
        <frame x="517" y="0" w="37" h="31"/>
        <frame x="560" y="0" w="37" h="31"/>
        <frame x="601" y="0" w="37" h="31"/>
        <frame x="640" y="0" w="37" h="31"/>
        <frame x="684" y="0" w="37" h="31"/>
        <frame x="731" y="0" w="37" h="31"/>
        <frame x="772" y="0" w="37" h="31"/>
        <fx>Run.wav</fx>
      </run>
      <plane loop ="true" speed="0.2f">
        <frame x="6" y="97" w="38" h="33"/>
        <frame x="39" y="97" w="34" h="33"/>
        <frame x="74" y="97" w="38" h="33"/>
        <frame x="114" y="97" w="34" h="33"/>
        <frame x="148" y="97" w="34" h="33"/>
        <frame x="179" y="97" w="34" h="33"/>
        <frame x="212" y="97" w="44" h="33"/>
        <frame x="256" y="97" w="36" h="33"/>
        <fx>Plane.wav</fx>
      </plane>
      <death loop="true" speed="0.04f">
        <frame x="375" y="99" w="36" h="31"/>
        <frame x="413" y="99" w="36" h="31"/>
        <frame x="451" y="99" w="36" h="31"/>
        <frame x="487" y="99" w="36" h="31"/>
        <fx>Death.wav</fx>
      </death>
      <jump_up loop="false" speed="0">
        <frame x="656" y="59" w="30" h="30"/>
        <fx>Jump.wav</fx>
      </jump_up>
      <jump_down loop="false" speed="0.1f">
        <frame x="693" y="56" w="31" h="35"/>
        <frame x="725" y="56" w="31" h="35"/>
        <fx>Win.wav</fx>
      </jump_down>
    </animations>
  </player>

</config>