<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="800" height="600" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>Assets/maps/</folder>
  </map>
  
  <scenes>
    <scene1>
      <map>Map1.1_test.tmx</map>
      <camera x="500" y ="200" />
    </scene1>
    <scene2>
      <map>Map2.1.tmx</map>
      <camera x="500" y ="200" />
    </scene2>
  </scenes>

  <player>
    <position x="0" y="0"/>
    <life value="3"/>
    <dead value="false"/>
    <folder>Assets/Sprites/Character/</folder>
    <texture source="Player.png" />
    <collider w="50" h="50" />
    <gravity value="2"/>2
    <jumpSpeed value="25"/>
    <maxFallingSpeed value="10"/>
    <walkSpeed value="7" />
    <speed x ="0" y="0" />
    <animations>
      <idle x="0" y="16" w="48" h="32" loop="false" speed="0"/>
    </animations>
  </player>

</config>