<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>Assets/maps/</folder>
  </map>

  <player>
    <folder>Assets/Sprites/Character/</folder>
    <texture source="Player.png" />
    <collider w="50" h="50" />
    <jumpFX source="Jump.wav"/>
    <accel x="1" y="1"/>
    <gravity value="50"/>
    <jumpForce x="0" y="-26"/>
  </player>

</config>